@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&family=Varela+Round&display=swap');
/*  font-family: "Varela Round", sans-serif; Ubuntu */

*{
    margin:0;
    padding: 0;
    border:0;
}
body{
    background-color: antiquewhite;
}
.logo img{
    width:44px;
    padding: 0px 8px;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: None;
    height: 65px;
    background-color: black;
    color:white;
}
nav ul li{
    margin-left: 10px;
}
/* .brand{
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
} */
.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    width:80%;
    display: flex;
    margin:23px auto;
    background-image: url("sahib.jpg");
    background-size: cover;
    border-radius: 15px;
    padding:34px;
}
/* .img{
    height:80%;
    width:100%;
    background-size: cover;
} */
.bottom{
    position:sticky;
    height:130px;
    background-color: black;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    flex-direction: column;
}
#myprogressbar{
    width:80vw;
}
.icons{
    margin-top: 16px;
}
.icons i{
    cursor:pointer;
}
.icons:hover{
    border:2px solid white;
}
.songitem{
    height: 50px;
    display: flex;
    background-color: black;
    color:white;
    margin:12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songitem img{
    width:43px;
    margin:0 23px;
}
.timespan{
    margin:0 23px;
}
.timespan i{
    cursor: pointer;
}
.songcontainer{
    margin-top: 74px;
}
h1{
    color:white;
    font-weight: bolder;
}